{{> header }}
        <ul class="recent">
	  <br>
	  <p>
	  If you'd like to view all posts in markdown check out <a href="https://github.com/heywoodlh/the-empire.systems/tree/master/src/posts">the Github Repository</a>.
	  </p>
	  <br>
	  <br>
	  <br>
          {{#each_upto all 9 }}
            <li>
              <span class="date">{{ moment date lang="en" format="MMM-DD-YYYY" }} &mdash;</span>
              <br>
              <span class="title"><a href="{{ path }}">{{ title }}</a></span>
              <br>
              <br>
            </li>
          {{/each_upto}}
        </ul>
 
        {{{ contents }}}
      
{{> footer }}
